In [1]:
# pandas loc : access a group of rows and columns by labels or a boolean array.
# syntax : DataFrame.loc[]

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("E:\\New folder (4)\\Book1.csv")
df

,Student ID,Date,Class,Study hrs,sleeping h,social mex,mobile Ga,percentage
0,1001,Yes,10,2.0,9,0,5,50.0
1,1002,Yes,10,6.0,8,2,0,80.0
2,1003,Yes,10,3.0,8,2,4,60.0
3,1004,Yes,11,0.0,10,1,5,45.0
4,1005,Yes,11,NaN,7,2,0,NaN
5,1006,Yes,11,10.0,7,0,0,96.0
6,1007,NaN,12,NaN,6,0,0,80.0
7,1008,No,12,NaN,6,2,0,NaN
8,1009,Yes,12,2.0,8,2,4,60.0
9,1010,No,12,6.0,9,1,0,85.0

In [6]:
df.loc[0] # labels or index:

Student ID    1001
Date           Yes
Class           10
Study hrs        2
sleeping h       9
social mex       0
mobile Ga        5
percentage      50
Name: 0, dtype: object

In [5]:
df.loc[9]

Student ID    1010
Date            No
Class           12
Study hrs        6
sleeping h       9
social mex       1
mobile Ga        0
percentage      85
Name: 9, dtype: object

In [9]:
df.loc[[0,1]]# list or array of labels:

,Student ID,Date,Class,Study hrs,sleeping h,social mex,mobile Ga,percentage
0,1001,Yes,10,2.0,9,0,5,50.0
1,1002,Yes,10,6.0,8,2,0,80.0

In [10]:
df.loc[[0,1,2,3]]

,Student ID,Date,Class,Study hrs,sleeping h,social mex,mobile Ga,percentage
0,1001,Yes,10,2.0,9,0,5,50.0
1,1002,Yes,10,6.0,8,2,0,80.0
2,1003,Yes,10,3.0,8,2,4,60.0
3,1004,Yes,11,0.0,10,1,5,45.0

In [12]:
df.loc[4,"Student ID"] # to print value of specific column:

1005

In [13]:
df.loc[0:3 ,"Student ID"] # a slice object with labels:

0    1001
1    1002
2    1003
3    1004
Name: Student ID, dtype: int64

In [14]:
df.loc[0:7 ,"Student ID"]

0    1001
1    1002
2    1003
3    1004
4    1005
5    1006
6    1007
7    1008
Name: Student ID, dtype: int64

In [15]:
# a boolean array of the same length as the axis being sliced:

In [20]:
df.loc[[False,True,False]]# boolean list with the same length as the row axis:

IndexError: Boolean index has wrong length: 3 instead of 10

In [21]:
df.loc[df["Student ID"]<1003,["Study hrs"]]

   Study hrs
0        2.0
1        6.0

In [23]:
# pandas iloc: integer location - based indexing.
# syntax : DataFrame.iloc[]

In [24]:
df.iloc[0]

Student ID    1001
Date           Yes
Class           10
Study hrs        2
sleeping h       9
social mex       0
mobile Ga        5
percentage      50
Name: 0, dtype: object

In [25]:
df.iloc[[0,1,2]]

,Student ID,Date,Class,Study hrs,sleeping h,social mex,mobile Ga,percentage
0,1001,Yes,10,2.0,9,0,5,50.0
1,1002,Yes,10,6.0,8,2,0,80.0
2,1003,Yes,10,3.0,8,2,4,60.0

In [29]:
df.iloc[:,0]# indexing through integers this cannot done through loc method.

0    1001
1    1002
2    1003
3    1004
4    1005
5    1006
6    1007
7    1008
8    1009
9    1010
Name: Student ID, dtype: int64

In [31]:
df.iloc[[False , True , False , True , False , True , False , True ,False , True]]

,Student ID,Date,Class,Study hrs,sleeping h,social mex,mobile Ga,percentage
1,1002,Yes,10,6.0,8,2,0,80.0
3,1004,Yes,11,0.0,10,1,5,45.0
5,1006,Yes,11,10.0,7,0,0,96.0
7,1008,No,12,NaN,6,2,0,NaN
9,1010,No,12,6.0,9,1,0,85.0