# How to read CSV files in pandas:

In [2]:
# CSV: "comma separated values" csv files is used to store tabular data . in which number and text stored in plane text. it can
#  easily read and write. 
# advantages : universal , easy to understand , quick to create 
# uses : in any datascience project first step to import data . mostlly data is in csv format.we read csv files in ide like 
# python and R

In [3]:
import pandas as pd

In [4]:
pd.read_csv("E:\\New folder (4)\\Book1.csv")

,Student ID,Class,Study hrs,sleeping h,social mex,mobile Ga,percentage
0,1001,10,2,9,0,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85

In [5]:
#this data structure is called dataframe:

In [7]:
pd.read_csv("E:\\New folder (4)\\yash.csv")

  Top 10 IT companies in india
0                           TCS
1                Tech Mahindra
2                       Infosys
3                         Wipro
4              Hcl Technologies
5                  L&T Infotech
6                      Mindtree
7                       Mphasis
8      Oracle Financial Service
9                   Rotla india

In [8]:
import os

In [9]:
print(os.getcwd())

C:\Users\lenovo\Pandas Practical