In [1]:
# pandas dataframe is two - dimensional , size-mutable , potentially heterogeneous tabular data structure with labeled axes 
# (row & columns)

In [2]:
import pandas as pd

In [3]:
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [4]:
list1 = ["a" , "b" , "c"]
print(list1)

['a', 'b', 'c']

In [5]:
df1 = pd.DataFrame(list1)
print(df1)

   0
0  a
1  b
2  c

In [6]:
df1

   0
0  a
1  b
2  c

In [7]:
ls_of_ls = [[1,2,3] , [4,5,6] , [7,8,9]]
print(ls_of_ls)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [9]:
df2 = pd.DataFrame(ls_of_ls)
print(df2)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
#pandas datafrae using dictionary: or dictionary of list

In [11]:
dict1 = {"iD":[12,34,56,78]}
pd.DataFrame(dict1)

   iD
0  12
1  34
2  56
3  78

In [19]:
dict1 = {"iD":[12,34,56,78] , "roll no.":[23,45,67,89]}

In [13]:
print(dict1)

{'iD': [12, 34, 56, 78], 'roll no.': [23, 45, 67, 89]}

In [14]:
pd.DataFrame(dict1)

   iD  roll no.
0  12        23
1  34        45
2  56        67
3  78        89

In [15]:
#pandas dataframe using list of dictionary:

In [16]:
ls_dict = [{"a":1,"b":2} , {"a":3,"b":4}]
pd.DataFrame(ls_dict)

   a  b
0  1  2
1  3  4

In [17]:
ls_dict = [{"a":1,"b":2} , {"a":3,"b":4,"c":5}]
pd.DataFrame(ls_dict)

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [20]:
#dictionary of serious:

In [21]:
dict_s = {"ID":pd.Series([1,2,3,4]),"SN":pd.Series([111,222,333])}
pd.DataFrame(dict_s)

   ID     SN
0   1  111.0
1   2  222.0
2   3  333.0
3   4    NaN